{% if include.courses %}
<section id="courses" class="courses">
  <h2 data-section="1.4_">Courses</h2>
  <p class="course-presentation">
    These are some of the most significant courses I've taken:
  </p>

  {% for course in include.courses %} {% assign categories = course.categories |
  join: ', ' %} {% assign courseId = course.title | downcase | replace: ' ',
  '-'%}

  <div
    id="course-{{forloop.index}}"
    class="course"
    data-consoles="714k {{site.time | date: '%-Y.%m.%d %H:%M:%S'}}"
  >
    <span class="data-terminal-container">
      <span class="console"
        >714k {{site.time | date: '%-Y.%m.%d %H:%M:%S'}}</span
      >
      <span class="path"
        >~/the-server/courses/{{course.title | replace: ' ', '-' | downcase |
        replace: ':', '' | replace: '.', '' }}</span
      >
      <span class="prompt">» echo $COURSES</span>
    </span>
    <p
      class="course-count"
      data-prompts="» echo $COURSES"
      data-paths="~/the-server/courses/{{course.title | replace: ' ', '-' | downcase | replace: ':', '' | replace: '.', '' }}"
    >
      {% if forloop.index > 1 %}
      <a
        href="#course-{{forloop.index | minus: 1}}"
        title="See the previous course"
        >«</a
      >
      {% endif %}
      <span> Course {{forloop.index}} of {{include.courses.size}}</span>

      {% if forloop.index < forloop.length %}
      <a href="#course-{{forloop.index | plus: 1}}" title="See the next course"
        >»</a
      >
      {% endif %}
    </p>

    <div class="course-details-container">
      <h3>
        <span>{{course.title}}</span>
      </h3>
      <p class="course-details">
        <strong class="author">{{ course.instructor }}</strong>
        <!-- <em class="text">{{ course.instructor }}</em><br /> -->

        <!-- <strong class="last-updated"> Updated: </strong>
      <em class="text">{{ course.last-updated }}</em><br /> -->

        <strong class="year">{{ course.year }}</strong>
        <!-- <em class="text">{{ course.year }}</em><br /> -->

        <strong class="academy">{{ course.academy }}</strong>
        <!-- <em class="text">{{ course.academy }}</em><br /> -->

        <strong class="where">{{ course.location }}</strong>
        <!-- <em class="text">{{ course.location }}</em><br /> -->
        <!-- Enable categories when is ready -->
        <!-- <strong>Categories:</strong>
      <span>
        {% for category in course.categories %}
        <a
          href="/filter-by-category/{{category}}"
          title="See course by '{{category}}' category"
          >{{category}}</a
        >
        {% endfor %} </span
      ><br /> -->
        <span class="certificate">
          <a
            href="{{ course.certificateHref}}"
            title="See the {{course.title}} certificate in PDF format"
            target="_blank"
            >View certificate</a
          >
        </span>
      </p>
    </div>
  </div>
  {% endfor %}
</section>
{% endif %}
