{% if page.previous_page == nil %}
  {% assign align_end='align-end' %}
{% endif %}

<footer id="footer">
  <p class="site-navigation {{align_end}}">
    {% if page.previous_page %}
    <a class="left" href="{{ page.previous_page }}">&laquo; {{ page.previous_title }}</a>
    {% endif %}

    <span class="hide"> | </span>
    {% if page.next_page %}
    <a class="right" href="{{ page.next_page }}">{{ page.next_title }} &raquo;</a>
    {% endif %}
  </p>
  {% include logo.html %}
  <span>Designed & Developed by Victor Zamudio,</span> 
  <span>Senior Lead Engineer</span><span class="hide"> • </span>
  <span>Mexico City</span><span class="hide"> • </span>
  <span> 2006 - 2024</span>
</footer>
