{% for summary in include.summaries%}
<section
  id="{{summary.id}}"
  class="{{summary.classes}}">
  <figure class="figure">
    <span 
      class="icon desktop" 
      title="Project for Desktop">
    &nbsp;
    </span>
      <img 
        id="{{summary.id}}-image" 
        src="/assets/images/projects/{{summary.id}}-thumb-b.jpg" 
        alt="Image of {{summary.title}}"
        width="380"
        height="380"/><br />
        <a 
          href="/at-the-beginning/nobody-knows-he-worked-on/{{summary.link.href}}" 
          title="{{summary.link.title}}">
            See project
        </a>
      <figcaption class="figcaption">
          <h2>{{summary.title}}</h2>
          <p>
            <strong class="year">Year: </strong>
              <em class="year">{{summary.year}}</em><br />
            <strong class="industry">Industry: </strong>
              <em class="industry">{{summary.industry}}</em><br />
            <strong class="technologies">Technologies: </strong>
              <em class="technologies">{{summary.technologies}}</em>
          </p>
        </figcaption>
    </figure>
    
    <span 
      class="icon desktop" 
      title="Project for Desktop">
    &nbsp;
    </span>

    {% if summary.classes contains "mobile" %}
    <span 
      class="icon mobile" 
      title="Project for Mobile">
      &nbsp;
    </span>
    {% endif %}

  {% include back-to-top.html %}
</section>
{% endfor %}
