{% assign links=include.galleries-images[0].links %}

<section id="gallery">
  {% for gallery in include.galleries %}
  <div
    id="gallery-{{gallery.title | downcase}}" class="gallery">
    <h2>{{gallery.title}} Gallery</h2>
    {% for link in links %}
    <figure 
      id="image-{{gallery.title | downcase}}-{{ link.text }}">
      <span class="decorative device">
        <img
        src="/assets/images/projects/{{include.projects-navigation.current | split: " "
        | join: "-" | downcase}}-{{gallery.title | downcase}}-{{link.text}}.jpg"
        alt="Gallery {{gallery.title}} image #{{ link.text }}"
        width="100%"
        height="auto">
      </span>
      <br />

        {% include navigation-links.html
          classes="images-links"
          links=links
          id=link
          type="image"
          gallery=gallery
        %}

    </figure>
    {% endfor %}

    {% include back-to-top.html %}
  </div>
  {% endfor %}
</section>
