<nav id="tableOfContent" role="navigation" class="vz-toc">
  <p>In this section:</p>
  <ul role="list">
    {% for item in include.data %}
      <li role="listitem">
      <a 
        href="#{{item.href}}"
        class="{{item.classes}}" 
        title="{{item.title}}">
        {% if item.prefix %}
          <span class="prefix-text">{{ item.prefixText }} </span> 
        {% endif %}
        
        <span class="text">{{item.text}}</span>
        
        {% if item.sufix %}
          <span class="sufix-text">{{ item.sufixText }} </span> 
        {% endif %}
      </a>
    </li>
    {% endfor %}
   </ul>
</nav> 