@include fontface('Consola', 'consola');

$details_top_position: 45%;

.the-server #courses {
  position: relative;
  width: 100vw;
  height: 5300vh;
  padding: 0;
  margin: 0;
  font-family: 'Consola', 'Courier New', Courier, monospace;
  background-image: url(/assets/images/info/server/courses/background01.jpg);
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  #chartDonut {
    padding-top: 160px;
  }
  .course-presentation {
    font-size: 20px;
    margin-top: 60px;
    padding: 20px 20px 20px 20px;
    color: white;
    z-index: 2;
    top: 80px;
    backdrop-filter: blur(10px);
    &::before {
      display: block;
      content: attr(data-console);
      font-size: 12px;
      text-align: left;
      font-weight: 700;
      background: rgb(255, 108, 0);
      background: linear-gradient(
        90deg,
        rgba(255, 108, 0, 1) 0%,
        rgba(255, 108, 0, 1) 18%,
        rgba(66, 81, 93, 1) 18%,
        rgba(66, 81, 93, 1) 100%
      );
      background-clip: text;
      color: transparent;
    }
    &::after {
      content: attr(data-path);
      font-size: 15px;
      line-height: 1;
      white-space: break-spaces;
      display: flex;
      align-items: end;
      height: 30px;
      width: 100%;
      text-align: left;
      background: #ffba08;
      background: linear-gradient(0deg, #fffc00 51%, #9d73ff 50%);
      background-clip: text;
      color: transparent;
    }
  }
  .course {
    position: relative;
    left: 0;
    width: calc(100% - 20px);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-weight: 400;
    font-style: normal;
    padding: 0 0 0 20px;
    &::before {
      position: absolute;
      top: 0;
      left: 20px;
      content: attr(data-prompt);
      font-size: 16px;
      line-height: 1;
      white-space: break-spaces;
      display: inline-block;
      width: 100%;
      text-align: left;
      color: #ffdc00;
    }
    .course-details-container {
      top: $details_top_position;
      width: calc(100% - 20px);
    }
    h3 {
      display: flex;
      align-items: center;
      height: 72px;
      padding: 4px 0 8px 0;
      border: dashed 2px #9d73ff;
      border-left: none;
      border-right: none;
      margin-top: 0;
      > span {
        display: flex;
        font-family: 'Consola', 'Courier New', Courier, monospace;
        color: white;
        font-size: 24px;
        margin: 0;
        padding: 0;
        border: none;
        border-top: 2px dashed purple;
        border: none;
      }
    }
    p {
      margin: 0;
      padding: 0;
      &.course-count {
        width: calc(100% - 20px);
        display: flex;
        justify-content: end;
        font-size: 18px;
        text-align: right;
        color: #bababa;
        line-height: 32px;
        a,
        span {
          width: auto;
          display: flex;
        }
        a {
          font-size: 32px;
          line-height: 32px;
          background-color: transparent;
        }
      }
      &.course-details {
        padding: 0;
        margin-top: 8px;
        font-size: 18px;
        br {
          display: none;
        }
      }
      strong,
      em {
        display: flex;
        justify-content: space-between;
        line-height: 1;
      }
      strong {
        display: flex;
        justify-content: space-between;
        text-align: left;
        color: #ae00ff;
        width: 100%;
        &::after {
          content: '301kb rw-r--r';
          margin-right: 8px;
          color: #7c6585;
          display: inline;
          font-weight: 400;
        }
        &.author::after {
          content: '656kb lrwxrw-';
        }
        &.academy::after {
          content: '328kb r-rw--r';
        }
        &.type::after {
          content: '164kb drwxr--';
        }
      }
      em {
        color: #9d73ff;
        font-style: normal;
        margin-bottom: 2px;
        &::after {
          content: '220ms';
          margin-right: 8px;
          color: #7c6585;
          display: flex;
          font-weight: 400;
        }
        &.author::after {
          content: 'root';
        }
        &.academy::after {
          content: 'ttl=51';
        }
        &.type::after {
          content: '144.2.236.4/30';
        }
      }
      .certificate {
        font-size: 15px;
        display: block;
        width: 100%;
        padding-bottom: 8px;
        a {
          display: inline-block;
          font-size: 16px;
          padding-left: 0;
          font-weight: 700;
          background-color: transparent;
        }
      }
    }
  }
}
