@include fontface('Consola', 'consola');

$details_top_position: 45%;

.the-server #courses {
  position: relative;
  width: 100vw;
  height: 5300vh;
  padding: 0;
  margin: 0;
  font-family: 'Consola', 'Courier New', Courier, monospace;
  background-image: url(/assets/images/info/server/courses/background01.jpg);
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  .course-presentation {
    font-size: 20px;
    margin: 80px 20px 30px 20px;
    color: #95a6c7;
    position: sticky;
    z-index: 2;
    top: 140px;
    backdrop-filter: blur(4px);
  }
  .course {
    position: relative;
    left: 0;
    width: calc(100% - 60px);
    height: calc(100vh - 40px);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-weight: 400;
    font-style: normal;
    padding: 20px;
    margin-top: 100px;
    &::before {
      position: absolute;
      top: calc($details_top_position - 132px);
      content: attr(data-console);
      font-size: 12px;
      text-align: left;
      font-weight: 700;
      background: rgb(255, 108, 0);
      background: linear-gradient(
        90deg,
        rgba(255, 108, 0, 1) 0%,
        rgba(255, 108, 0, 1) 18%,
        rgba(66, 81, 93, 1) 18%,
        rgba(66, 81, 93, 1) 100%
      );
      background-clip: text;
      color: transparent;
    }
    &::after {
      position: absolute;
      top: calc($details_top_position - 120px);
      content: attr(data-path);
      font-size: 15px;
      line-height: 1;
      white-space: break-spaces;
      display: flex;
      height: 30px;
      justify-content: center;
      width: 100%;
      text-align: left;
      color: #7dbaff;
    }
    .course-details-container {
      position: absolute;
      top: $details_top_position;
      width: calc(100% - 20px);
    }
    h3 {
      display: flex;
      align-items: center;
      height: 72px;
      padding: 4px 0 8px 0;
      border: dashed 2px purple;
      border-left: none;
      border-right: none;
      margin-top: 0;
      > span {
        display: flex;
        font-family: 'Consola', 'Courier New', Courier, monospace;
        color: white;
        font-size: 24px;
        margin: 0;
        padding: 0 8px;
        border: none;
        border-top: 2px dashed purple;
        border: none;
      }
    }
    p {
      margin: 0;
      padding: 0;
      &.course-count {
        position: absolute;
        top: calc($details_top_position - 36px);
        right: 0;
        width: calc(100% - 20px);
        display: flex;
        justify-content: end;
        font-size: 18px;
        text-align: right;
        color: #bababa;
        line-height: 32px;
        &::before {
          position: absolute;
          top: calc($details_top_position - 64px);
          left: 0;
          content: attr(data-prompt);
          font-size: 16px;
          line-height: 1;
          white-space: break-spaces;
          display: inline-block;
          width: 100%;
          text-align: left;
          color: #ffdc00;
        }
        a,
        span {
          width: auto;
          display: flex;
        }
        a {
          font-size: 32px;
          line-height: 32px;
          background-color: transparent;
        }
      }
      &.course-details {
        padding: 8px 0 0 0;
        margin-top: 8px;
        font-size: 18px;
      }
      strong,
      em {
        display: inline-block;
        line-height: 0.8;
      }
      strong {
        display: flex;
        justify-content: space-between;
        text-align: left;
        color: #d167fd;
        width: 100%;
        &::after {
          content: '3000: rw-r--r';
          margin-right: 8px;
          color: grey;
          display: inline;
          font-weight: 400;
        }
        &.where::after {
          content: '8080: drwxr--';
        }
        &.academy::after {
          content: '9021: r-rw--r';
        }
        &.author::after {
          content: '4200: lrwxrw-';
        }
      }
      em {
        color: white;
        font-style: normal;
        margin-bottom: 12px;
      }
      .certificate {
        font-size: 15px;
        display: block;
        width: 100%;
        text-align: center;
        margin-top: 16px;
        padding-top: 4px;
        border-top: 2px dashed purple;
        a {
          display: inline-block;
          font-size: 20px;
          padding: 12px;
          font-weight: 700;
          background-color: transparent;
        }
      }
    }
  }
}
