@mixin lineBalloon {
  content: '';
  display: block;
  position: absolute;
  top: -20px;
  width: 110px;
  height: 15px;
  background-image: url(/assets/svg/line-elliot.svg);
  background-repeat: no-repeat;
  background-position: bottom;
}

:root {
  --accent-color: #ffb80090;
}

@font-face {
  font-family: 'Palette Mosaic';
  src: url('/assets/fonts/palette-mosaic.eot');
  src: url('/assets/fonts/palette-mosaic.eot?#iefix') format('embedded-opentype'),
       url('/assets/fonts/palette-mosaic.woff2') format('woff2'),
       url('/assets/fonts/palette-mosaic.woff') format('woff'),
       url('/assets/fonts/palette-mosaic.svg#palette_mosaicregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

.no-one-knows {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
  background-image: url(/assets/images/info/comic-bg.png);
  background-size: cover;
  background-attachment: fixed;
  main {
    &::before {
      content: '';
      position: absolute;
      opacity: 0.5;
      z-index: 0;
      width: 100%;
      height: 100%;
      top: 100vh;
      left: 0;
      background-image: url(/assets/images/info/comic-bg.png);
      background-size: cover;
      background-attachment: fixed;
    }
  }
  #main {
    &::before {
      content: '';
      position: absolute;
      left: 16px;
      top: 70px;
      z-index: 2;
      width: 48px;
      height: 109px;
      background-image: url(/assets/images/info/publisher-logo.png);
      background-repeat: no-repeat;
    }
    &::after {
      content: '';
      position: absolute;
      bottom: 20px;
      right: 20px;
      z-index: 2;
      width: 191px;
      height: 97px;
      background-image: url(/assets/images/info/barcode-comic.png);
      background-size: 75%;
      background-position: right bottom;
      background-repeat: no-repeat;
    }
  }
  .cover {
    @include cover;
  }
  h1 {
    justify-content: start;
    font-family:'Palette Mosaic', Arial, sans-serif;
    font-size: 76px;
    line-height: 1.2;
    text-transform: uppercase;
    color: #ffb80070;
    // z-index: 3;
    // position: relative;
    span {
      display: block;
      &.elipsis {
        line-height: 0;
        justify-self: center;
      }
    }
  }
  h2 {
    font-family:'Palette Mosaic', Arial, sans-serif;
    font-size: 30px;
    line-height: 1.25;
    display: inline-block;
    text-transform: uppercase;
    text-align: center;
    color: white;
    margin: 0;
    span {
      display: block;
    }
  }
  .sprite,
  .decorative {
    position: absolute;
    display: inline-block;
    width: 100%;
    height: 100%;
    background-position: center top;
    background-repeat: no-repeat;
  }
  section {
    position: relative;
    padding-top: 0;
    height: 30vh;
    width: 100%;
    h2 {
      position: absolute;
      z-index: 20;
    }
    .balloon {
      opacity: 0;
      z-index: 2;
      font-family: 'Palette Mosaic', Arial, Helvetica, sans-serif;
      text-transform: uppercase;
      font-size: 10px;
      line-height: 1.25;
      width: 45vw;
      height: 50px;
      left: 4vw;
      top: 16vh;
      a {
        display: inline-block;
        margin-top: 4px;
      }
      &::before {
        @include lineBalloon;
      }
      transition: inherit;
      a {
        font-family: 'Palette Mosaic', Arial, Helvetica, sans-serif;
        background-color: transparent;
      }
    }
  }
  #profile {
    height: 21vh;
    transition: all 1s;
    h2 {
      transition: inherit;
      left: 50%;
      transform: translateX(-50%);
      bottom: 0;
      letter-spacing: 0;
    }
    .balloon {
      // width: auto;
      // top: 85%;
    }
    .elliot {
      z-index: 1;
      width: 50vw;
      height: 33vh;
      left: 50vw;
      transform: translateX(-25vw);
      background-image: url(/assets/images/info/elliot.png);
      background-size: contain;
      background-position-y: center;
    }
    .mr-robot {
      opacity: 0;
      height: 27vh;
      width: 50vw;
      top: 3vh;
      left: 50vw;
      transform: translateX(-25vw);
      background-image: url(/assets/images/info/mr-robot.png);
      background-size: contain;
      filter: grayscale(1);
      transition: left 1s, opacity 1s, transform 1s;
    }
    .face-mask {
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      opacity: 0;
      width: 200px;
      height: 200px;
      background-image: url(/assets/images/info/mask.png);
      background-size: 75%;
      filter: grayscale(1);
      transition: left 1s, opacity 1s;
    }
    &:hover {
      h2 {
        color: var(--accent-color);
        font-size: 40px;
        bottom: 65%;
        letter-spacing: 10px;
      }
      .balloon {
        transition: inherit;
        z-index: 5;
        left: 50%;
        transform: translateX(-50%);
        opacity: 1;
        color: white;
      }
      .elliot {
      }
      .mr-robot {
        left: 50vw;
        transform: translateX(-40vw);
        opacity: 1;
      }
      .face-mask {
        opacity: 1;
        left: 66vw;
      }
    }
  }
  #laboral-experience {
    background-image: url(/assets/svg/frame-navigator.svg);
    background-position: center top;
    background-size: contain;
    height: 74vw;
    z-index: 1;
    h2 {
      right: 10%;
      top: 20%;
      transition: all 1s;
    }
    .balloon {
      top: auto;
      bottom: 10%;
      transition: all 1s;
      &::before {
        content: none;
      }
      &::after {
        @include lineBalloon;
        top: auto;
        left: 70px;
      }
    }
    .sparrow {
      bottom: 6%;
      left: 0;
      z-index: 1;
      width: 51vw;
      height: 34vh;
      background-image: url(/assets/images/info/sparrow.png);
      background-size: cover;
      transition: all 1s;
    }
    &:hover {
      h2 {
        right: 50%;
        transform: translateX(50%);
        top: 60%;
        font-size: 40px;
        color: var(--accent-color);
        letter-spacing: 10px;
      }
      .balloon {
        opacity: 1;
        bottom: 50%;
        transform: translateY(50%);
        left: 7%;
      }
      .sparrow {
        left: 42vw;
      }
    }
  }
  #skills {
    background-image: url(/assets/svg/frame-hitman.svg);
    background-position: center 16px;
    background-repeat: no-repeat;
    background-size: 130%;
    height: 50vw;
    bottom: 0;
    &::after {
      content: "";
      display: block;
      width: 100vw;
      z-index: 1;
      height: 20px;
      background-image: url(/assets/svg/frame-hitman.svg);
      background-position: center top;
      background-repeat: no-repeat;
      background-size: 150%;
      position: absolute;
      bottom: -17px;
    }
    h2 {
      right: 70%;
      bottom: 5%;
      transition: all 1s;
    }
    .balloon {
      transition: all 1s;
      &::before {
        transform: rotate(180deg) translate(30px, -10px);
      }
    }
    .hitman-a {
      width: 62vw;
      height: 100%;
      z-index: 1;
      right: 0;
      bottom: 0 ;
      filter: grayscale(1);
      background-image: url(/assets/images/info/hitman.png);
      background-position: 50px top;
      background-size: contain;
      transition: all 1s;
    }
    &:hover {
      h2 {
        font-size: 40px;
        letter-spacing: 10px;
        color: var(--accent-color);
        right: 0;
        bottom: 0;
      }
      .balloon {
        opacity: 1;
        left: 40%;
        top: 20%;
      }
      .hitman-a {
        right: 35%;
        background-position-x: 0;
      }
    }
  }
  #footer {
    font-family:'Palette Mosaic', Arial, sans-serif;
    color: #ffffff;
    margin-bottom: 0;
    padding: 60px 0 24px 0;
  }
  #tableOfContent,
  .back-to-top,
  hr {
    display: none;
  }
}