@mixin columns {
  display: inline-block;
  margin-right: 16px;
  padding: 8px 0;
  text-align: left;
  text-indent: 16px;
  text-transform: uppercase;
  font-weight: normal;
}

#languages {
  background-image: url(/assets/images/info/fixer/fixer-languages-bg.jpg);
  background-position: top center;
  background-size: cover;
  h2::after {
    background-position: -1763px -84px;
  }
  table {
    margin-top: 20px;
    width: 100%;
    color: #72fe00;
    &::before {
      content: 'VMware ESX Server 3 Kernel 2.21-3.Elvmnix on an i686 Last login: Mon Sep 3 10:53 on ttypes 714k:~ tlak alias Lang="cd ~/Depurador/Lenguajes/" 714k:~ tlak try to brute-force valid credentials for Lang tlakuilo:~ tlak show --all Lang ๏[ ≖‿•ิ ] ✌';
      color: #72fe00;
      font-size: 10px;
      display: inline-block;
      width: 80%;
      padding: 0 20px 30px 20px;
      text-shadow: 0 0 5px #72fe00;
    }
    thead {
      display: block;
      tr {
        display: none;
        &:first-child {
          display: block;
        }
        th {
          @include columns();
          padding-bottom: 16px;
          background-image: partials.$sprite;
          background-position: 16px 36px;
          background-repeat: no-repeat;
          &.type,
          &.use,
          &.level {
            display: none;
          }
          &.name {
            width: 45%;
          }
          &.years {
            width: 20%;
          }
          &.percentage {
            width: 15%;
          }
        }
      }
    }
    tbody {
      width: 100%;
      display: block;
      tr {
        display: block;
        &:nth-child(2n) {
          &:hover {
            background-color: #72fe00;
          }
        }
        &:hover {
          background-color: #72fe00;
          color: black;
          cursor: pointer;
        }
        &.htmls {
          &::after {
            content: '';
            top: 100px;
            background-color: black;
            color: greenyellow;
            height: 100vh;
            display: none;
            left: 0;
            width: 100%;
          }
         &:hover {
          display: block;
          transform: translateY(-36px);
          cursor: default;
          background-color: black;
          color: #72fe00;
          &::after {
            display: block;
          }
          & ~ tr {
            display: none;
          } 
         } 
        }
        td {
          @include columns();
          &.type,
          &.use,
          &.level {
            display: none;
          }
          &.name {
            width: 45%;
          }
          &.years {
            width: 20%;
          }
          &.percentage {
            width: 15%;
          }
          
        }
      }
    }
    tr {
      background-image: none;
      position: relative;
      &:hover {
        position:sticky;
        top: 0;
        left: 0;
        width: 100vw;
        background-image: url(/assets/images/info/fixer/fixer-languages-bg.jpg);
        background-position: center;
        background-size: cover;
        background-attachment: fixed;
        td {
          &.name,
          &.type,
          &.years,
          &.use,
          &.level,
          &.percentage {
            display: block;
            font-size: 22px;
            width: 90%;
            margin: 12px 20px;
            text-shadow: 0 0 5px white;
            color: white;
            abbr {
              padding-top: 8px;
              padding-bottom: 4px;
              display: inline-block;
              text-indent: 0;
            }
            &::before {
              content: 'Name of the language';
              font-size: 16px;
              display: block;
              text-indent: 0;
              text-transform: capitalize;
              padding-bottom: 8px;
              border-bottom: dashed 2px white;
              color: red;
              text-shadow: 0 0 5px red;
            }
          }
          &.type,
          &.years,
          &.use,
          &.level,
          &.percentage {
            &::after {
              content: none;
            }
          }
          &.type::before { content: 'Type'}
          &.years {
            &::before {
              content: 'Time using it'
            }
            &::after {
              content: ' years';
            }
          }
          &.use::before { content: 'Utilization'}
          &.level::before { content: 'Level of mastery'}
          &.percentage::before { content: 'Skills percentage'}
        }
      }
    }
  }
}