@import "typography";
@import "main-navigation";
@import "toc";

:root {
  --spacing-0: 0;
  --spacing-1: 4px;
  --spacing-2: 8px;
  --spacing-3: 12px;
  --spacing-4: 16px;
  --spacing-5: 20px;
  --spacing-6: 24px;
  --spacing-7: 28px;
  --spacing-8: 32px;
  --spacing-9: 36px;
  --spacing-10: 40px;
}

body {
  color: #adb6c5;
  background-color: #0f1012;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  font-family:'Exo 2 Regular', 'Arial Narrow', Arial, sans-serif;
  padding: var(--spacing-4);
  margin: var(--spcaing-0);
  .vz-logo {
    position: fixed;
    top: var(--spacing-4);
    left: var(--spacing-4);
    z-index: 200;
  }
  .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
  }
  a:not(.vz-logo) {
    text-decoration: none;
    padding: 0 4px;
    background-color: var(--color-secondary);
    color: var(--color-primary);

    &:hover {
      background-color: var(--color-primary);
      color: var(--color-secondary);
    }
    &.current {
      background-color: var(--color-primary);
      color: var(--color-secondary);
      cursor: default;
      pointer-events: none;
    }
    &.skip-link:not(:focus):not(:active) {
      border: 0;
      clip: rect(0 0 0 0);
      -webkit-clip-path: inset(100%);
      clip-path: inset(100%);
      height: 1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      white-space: nowrap;
      width: 1px;
      &:active,
      &:focus {
        left: 0;
        position: absolute;
        top: 0;
        z-index: 999;
      }
    }
  }
  #main-header {
    &::before {
      content: "";
      height: calc(var(--spacing-10) * 2);
      width: 100%;
      margin: var(--spacing-0);
      position: fixed;
      top: var(--spacing-0);
      left: var(--spacing-0);
      backdrop-filter: blur(3px);
    }
  }
  #main {
    padding-top: 120px;
  }
  section {
    padding-top: 80px;
  }
}
