@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@include fontface('Mr Robot', 'mr-robot');

.the-server #profile {
  position: relative;
  width: 100vw;
  height: 1900vh;
  padding: 0;
  margin: 0;
  background-image: url(/assets/images/info/server/profile/bg-01.jpg);
  background-attachment: fixed;
  background-size: cover;
  h2 {
    position: sticky;
    top: 72px;
    z-index: 2;
  }
  p {
    padding: 0;
    margin: 0;
  }
  [data-sp='hello-friend'] {
    position: relative;
  }
  .view {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Bebas Neue', Impact, Haettenschweiler, 'Arial Narrow Bold',
      sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 90px;
    text-transform: uppercase;
    text-align: center;
    line-height: 72px;

    &[data-id='hello-friend-first'] {
      position: relative;
      display: block;
      top: 0;
      margin: 0;
      background: transparent;
      [data-sp] {
        top: calc(50% - 100px);
      }
    }
    &[data-id='hello-friend-second'] {
      top: 100vh;
      background-image: url(/assets/images/info/server/profile/bg-02.jpg);
      [data-sp] {
        top: calc(50% - 100px);
      }
    }
    &[data-id*='game'] {
      background-image: url(/assets/images/info/server/profile/bg-02.jpg);
      font-size: 100px;
      line-height: 90px;
    }
    &[data-id='game-first'] {
      top: 200vh;
      background-image: url(/assets/images/info/server/profile/bg-03.jpg);
    }
    &[data-id='game-second'] {
      top: 300vh;
      font-size: 120px;
      [data-sp='maybe'] {
        // width: calc(100% - 40px);
      }
    }
    &[data-id='game-third'] {
      top: 400vh;
      font-size: 100px;
      line-height: 100px;
    }
    &[data-id='game-fourth'] {
      top: 500vh;
      font-size: 100px;
      line-height: 100px;
    }
    &[data-id='my-name'] {
      top: 600vh;
      background-image: url(/assets/images/info/server/profile/bg-02.jpg);
      [data-sp='my-name-is'] {
        z-index: 2;
        height: auto;
        width: auto;
        left: 40px;
        font-size: 48px;
        text-align: center;
        color: #ffc600;
        top: calc(50% - 56px);
      }
      [data-sp='victor-zamudio'] {
        height: auto;
        font-size: 100px;
        line-height: 80px;
        top: 50%;
        text-align: left;
        left: 40px;
        width: auto;
      }
    }
    &[data-id='im-uxe'] {
      top: 700vh;
      font-size: 100px;
      line-height: 96px;
      background-image: url(/assets/images/info/server/profile/bg-02.jpg);
      [data-sp='im-a'] {
        font-size: 48px;
        text-align: left;
        color: #ffc600;
        top: calc(50% - 136px);
        width: 50px;
        height: auto;
        line-height: 40px;
        left: calc(50% - 150px);
      }
      [data-sp='uxe'] {
        font-size: 120px;
        height: auto;
      }
      abbr {
        display: block;
      }
    }
    &[data-id='at-thomson-reuters'] {
      top: 800vh;
      font-size: 100px;
      line-height: 96px;
      background-image: url(/assets/images/info/server/profile/bg-02.jpg);
      [data-sp='at'] {
        width: auto;
        height: auto;
        font-size: 48px;
        text-align: left;
        top: calc(50% - 116px);
        left: calc(50% - 138px);
      }
      a {
        display: inline;
        font-family: 'Bebas Neue', Impact, Haettenschweiler, 'Arial Narrow Bold',
          sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 96px;
        line-height: 80px;
        width: 280px;
        left: calc(50% - 140px);
        text-align: center;
        height: auto;
        background-color: transparent;
      }
    }
    &[data-id='at-thomson-reuters-since'] {
      top: 900vh;
      background-image: url(/assets/images/info/server/profile/bg-02.jpg);
      [data-sp='since'] {
        width: auto;
        height: auto;
        font-size: 48px;
        color: #ffc600;
        top: calc(50% - 60px);
        left: calc(50% - 158px);
      }
      [data-sp='september'] {
        top: 50%;
        [data-sp='2022'] {
          font-size: 150px;
          top: 96px;
          left: calc(50% - 164px);
          height: auto;
          width: auto;
          text-align: left;
        }
      }
    }
    &[data-id='born-and-raised'] {
      top: 1000vh;
      background-image: url(/assets/images/info/server/profile/bg-04.jpg);
      [data-sp] {
        width: auto;
        height: auto;
      }
      [data-sp='born'] {
        font-size: 76px;
        left: 20px;
        top: 25%;
      }
      [data-sp='and'] {
        font-size: 36px;
        color: #ffc600;
        left: 146px;
        top: calc(25% + 12px);
      }
      [data-sp='raised'] {
        font-size: 76px;
        left: 20px;
        top: calc(25% + 56px);
      }
      [data-sp='in'] {
        font-size: 36px;
        color: #ffc600;
        left: 184px;
        top: calc(25% + 68px);
      }
      [data-sp='mexico'] {
        font-size: 72px;
        font-family: 'Mr Robot', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        left: auto;
        right: 20px;
        top: calc(40% + 70px);
        background: rgb(0, 171, 105);
        background: linear-gradient(
          90deg,
          rgba(0, 171, 105, 1) 0%,
          rgba(0, 171, 105, 1) 35%,
          rgba(255, 255, 255, 1) 35%,
          rgba(255, 255, 255, 1) 60%,
          rgba(215, 0, 96, 1) 60%,
          rgba(215, 0, 96, 1) 100%
        );
        background-clip: text;
        color: transparent;
      }
      [data-sp='my'] {
        top: auto;
        font-size: 36px;
        left: auto;
        bottom: 140px;
        right: 224px;
        color: #ffc600;
      }
      [data-sp='beloved'] {
        font-size: 72px;
        left: auto;
        right: 30px;
        top: auto;
        bottom: 150px;
        background: rgb(255, 255, 255);
        background: linear-gradient(
          90deg,
          rgba(255, 255, 255, 1) 0%,
          rgba(255, 255, 255, 1) 30%,
          rgba(215, 0, 96, 1) 30%,
          rgba(215, 0, 96, 1) 85%,
          rgba(255, 255, 255, 1) 85%,
          rgba(255, 255, 255, 1) 100%
        );
        background-clip: text;
        color: transparent;
      }
      [data-sp='country'] {
        font-size: 72px;
        left: auto;
        right: 20px;
        top: auto;
        bottom: 90px;
      }
    }
    &[data-id='around-the-web'] {
      top: 1100vh;
      background-image: url(/assets/images/info/server/profile/bg-05.jpg);
      [data-sp='been'] {
        font-size: 36px;
        top: 30%;
        left: 20px;
        color: #ffc600;
        width: 80px;
        height: auto;
        line-height: 35px;
        text-align: right;
      }
      [data-sp='around'] {
        width: auto;
        left: auto;
        top: 30%;
        left: 104px;
      }
      [data-sp='the'] {
        top: 50%;
        font-size: 36px;
        color: #ffc600;
        height: auto;
        width: auto;
        left: auto;
        transform: translateY(-50px);
      }
      [data-sp='web'] {
        top: 50%;
      }
      [data-sp='since'] {
        font-size: 36px;
        color: #ffc600;
        width: auto;
        height: auto;
        top: auto;
        left: auto;
        bottom: 170px;
        right: 240px;
      }
      [data-sp='june-2006'] {
        width: auto;
        height: auto;
        top: auto;
        left: auto;
        bottom: 120px;
        right: 20px;
      }
      [data-sp='n-years'] {
        font-size: 28px;
        color: #ffc600;
        width: auto;
        height: auto;
        top: auto;
        left: auto;
        bottom: 72px;
        right: 20px;
      }
    }
    &[data-id='working-with-brands'] {
      top: 1200vh;
      background-image: url(/assets/images/info/server/profile/bg-06.jpg);
      [data-sp] {
        height: auto;
        width: auto;
        text-shadow: -7px 14px 4px black;
      }
      [data-sp='and'] {
        top: 30%;
        left: calc(50% - 50px);
        color: #ffc600;
        font-size: 36px;
        text-transform: uppercase;
      }
      [data-sp='working'] {
        top: calc(30% + 54px);
        left: calc(50% - 140px);
      }
      [data-sp='with'] {
        top: calc(30% + 100px);
        left: calc(50% - 124px);
        color: #ffc600;
        font-size: 36px;
        text-transform: uppercase;
      }
      [data-sp='brands'] {
        top: calc(30% + 150px);
        left: calc(50% - 120px);
      }
      [data-sp='like'] {
        top: calc(30% + 220px);
        left: calc(50% + 20px);
      }
    }
    &[data-id='warner-media'] {
      top: 1300vh;
      background-image: url(/assets/images/info/server/profile/bg-07.jpg);
      [data-sp] {
        font-size: 120px;
        width: auto;
        height: auto;
        top: 40%;
        left: calc(50% - 156px);
      }
      [data-sp='warner'] {
        // top: 47%;
      }
      [data-sp='media'] {
        top: calc(40% + 90px);
        left: calc(50% - 116px);
        color: #939498;
      }
    }
    &[data-id='jnj'] {
      top: 1400vh;
      background-image: url(/assets/images/info/server/profile/bg-08.jpg);
    }
    &[data-id='google'] {
      top: 1500vh;
      background-image: url(/assets/images/info/server/profile/bg-09.jpg);
      [data-sp] {
        font-size: 120px;
        line-height: 1.2;
        width: auto;
        height: auto;
        left: calc(50% - 140px);
        background: rgb(255, 255, 255);
        background: linear-gradient(
          90deg,
          rgba(72, 137, 244, 1) 0%,
          rgba(72, 137, 244, 1) 16%,
          rgba(235, 73, 59, 1) 16%,
          rgba(235, 73, 59, 1) 33%,
          rgba(251, 190, 13, 1) 33%,
          rgba(251, 190, 13, 1) 51%,
          rgba(72, 137, 244, 1) 51%,
          rgba(72, 137, 244, 1) 68%,
          rgba(58, 171, 88, 1) 68%,
          rgba(58, 171, 88, 1) 84%,
          rgba(235, 73, 59, 1) 84%,
          rgba(235, 73, 59, 1) 100%
        );
        background-clip: text;
        color: transparent;
      }
    }
    &[data-id='ibm'] {
      top: 1600vh;
      background-image: url(/assets/images/info/server/profile/bg-10.jpg);
      [data-sp] {
        font-size: 200px;
        line-height: 1.2;
        width: auto;
        height: auto;
        top: 35%;
        left: calc(50% - 118px);
        background: rgb(255, 255, 255);
        background: linear-gradient(
          0deg,
          rgba(255, 255, 255, 1) 0%,
          rgba(255, 255, 255, 1) 0%,
          rgba(255, 255, 255, 1) 5%,
          rgba(255, 255, 255, 0) 5%,
          rgba(255, 255, 255, 0) 10%,
          rgba(255, 255, 255, 1) 10%,
          rgba(255, 255, 255, 1) 15%,
          rgba(255, 255, 255, 0) 15%,
          rgba(255, 255, 255, 0) 20%,
          rgba(255, 255, 255, 1) 20%,
          rgba(255, 255, 255, 1) 25%,
          rgba(255, 255, 255, 0) 25%,
          rgba(255, 255, 255, 0) 30%,
          rgba(255, 255, 255, 1) 30%,
          rgba(255, 255, 255, 1) 35%,
          rgba(255, 255, 255, 0) 35%,
          rgba(255, 255, 255, 0) 40%,
          rgba(255, 255, 255, 1) 40%,
          rgba(255, 255, 255, 1) 45%,
          rgba(255, 255, 255, 0) 45%,
          rgba(255, 255, 255, 0) 50%,
          rgba(255, 255, 255, 1) 50%,
          rgba(255, 255, 255, 1) 55%,
          rgba(255, 255, 255, 0) 55%,
          rgba(255, 255, 255, 0) 60%,
          rgba(255, 255, 255, 1) 60%,
          rgba(255, 255, 255, 1) 65%,
          rgba(255, 255, 255, 0) 65%,
          rgba(255, 255, 255, 0) 70%,
          rgba(255, 255, 255, 1) 70%,
          rgba(255, 255, 255, 1) 75%,
          rgba(255, 255, 255, 0) 75%,
          rgba(255, 255, 255, 0) 80%,
          rgba(255, 255, 255, 1) 80%,
          rgba(255, 255, 255, 1) 85%,
          rgba(255, 255, 255, 0) 85%,
          rgba(255, 255, 255, 0) 90%,
          rgba(255, 255, 255, 1) 90%,
          rgba(255, 255, 255, 1) 95%,
          rgba(255, 255, 255, 0) 95%,
          rgba(255, 255, 255, 0) 100%,
          rgba(255, 255, 255, 1) 100%,
          rgba(255, 255, 255, 1) 105%
        );
        background-clip: text;
        color: transparent;
      }
    }
    &[data-id='microsoft'] {
      top: 1700vh;
      background-image: url(/assets/images/info/server/profile/bg-11.jpg);
      [data-sp] {
        width: auto;
        height: auto;
        left: calc(50% - 86px);
      }
      [data-sp='and'] {
        top: calc(50% + 10px);
        font-size: 50px;
        color: #05a6f0;
        transform: rotate(-90deg);
        left: calc(50% - 95px);
      }
      [data-sp='micro'] {
        background: rgb(243, 83, 37);
        background: linear-gradient(
          90deg,
          rgba(243, 83, 37, 1) 0%,
          rgba(243, 83, 37, 1) 37%,
          rgba(129, 188, 6, 1) 37%,
          rgba(129, 188, 6, 1) 100%
        );
        background-clip: text;
        color: transparent;
      }
      [data-sp='soft'] {
        top: calc(50% + 16px);
        left: calc(50% - 48px);
        color: #ffba08;
      }
    }
    &[data-id='among-others'] {
      top: 1800vh;
      background-image: url(/assets/images/info/server/profile/bg-12.jpg);
      [data-sp] {
        text-shadow: 20px 20x 20px black;
      }
      [data-sp='among'] {
        color: #ffc600;
        font-size: 36px;
        width: auto;
        left: 0;
        top: calc(35% - 10px);
        transform: rotate(-90deg);
      }
      [data-sp='others'] {
        font-size: 120px;
        top: calc(35% + 0px);
      }
      [data-sp='last'] {
        color: #ffc600;
        font-size: 36px;
        top: calc(35% + 100px);
      }
      [data-sp='n-years'] {
        font-size: 120px;
        top: calc(35% + 160px);
      }
      [data-sp='th'] {
        width: auto;
        font-size: 24px;
        top: calc(30% + 150px);
        left: calc(50% + 50px);
      }
      [data-sp='years'] {
        font-size: 120px;
        top: calc(50% + 150px);
      }
    }
    &[data-id='remember'] {
      top: 1900vh;
      background-image: url(/assets/images/info/server/profile/bg-12.jpg);
      [data-sp='have-to'],
      [data-sp='that'] {
        color: #ffc600;
      }
      [data-sp='have-to'] {
        font-size: 36px;
        top: calc(50% - 110px);
      }
      [data-sp='that'] {
        top: calc(50% + 30px);
      }
    }
    &[data-id='my-sheet'] {
      top: 2000vh;
      background-image: url(/assets/images/info/server/profile/bg-12.jpg);
      [data-sp='this-is'] {
        color: #ffc600;
        left: 40px;
        font-size: 36px;
        text-align: right;
        line-height: 0.9;
        width: 74px;
      }
      [data-sp='my'] {
        font-size: 150px;
        left: auto;
        width: auto;
        right: 40px;
      }
      [data-sp='sheet'] {
        background-color: transparent;
        width: auto;
        left: calc(50% - 100px);
        top: calc(50% + 40px);
        font-weight: 700;
        letter-spacing: -8px;
      }
    }
    [data-sp] {
      z-index: 1;
      position: absolute;
      padding: 0;
      width: 100%;
      height: auto;
      top: calc(50% - 52px);
      left: 0;
    }
  }
}
