@import 'profile';
@import 'academic-formation';
@import 'courses';

@include fontface('Mr Robot', 'mr-robot');
@include fontface('Consola', 'consola');

@mixin tocImages($href, $imgNumber) {
  &[href='#{$href}'] {
    background-image: url('/assets/images/info/server/server-toc-0#{$imgNumber}-bg.jpg');
    &:hover {
      background-image: url('/assets/images/info/server/server-toc-0#{$imgNumber}-hover-bg.jpg');
    }
  }
}

.the-server {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
  margin: 0;
  color: white;
  background-image: url(/assets/images/info/server/server-cover-bg.jpg);
  background-size: cover;
  background-attachment: fixed;
  .cover {
    @include cover;
    h1 {
      font-family: 'Mr Robot', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      font-weight: 400;
      font-size: 72px;
      text-transform: uppercase;
      color: #c80000;
    }
  }
  #tableOfContent {
    .text {
      display: none;
    }
    &:hover {
      width: 100%;
      height: 100%;
      padding: 0;
      ul {
        top: 0;
        left: 0;
        bottom: auto;
        width: 100%;
        height: 100%;
        max-height: 100vh;
        display: flex;
        padding: 0;
        background-color: transparent;
        li {
          width: 25%;
          height: 100vh;
          a {
            padding: 0;
            width: 100%;
            height: 100%;
            background-color: transparent;
            display: flex;
            align-items: center;
            justify-content: center;
            background-repeat: no-repeat;
            background-size: cover;
            @include tocImages('#profile', 1);
            @include tocImages('#professional-interest', 2);
            @include tocImages('#academic-formation', 3);
            @include tocImages('#courses', 4);
            .prefix-text {
              font-family: 'Mr Robot', 'Segoe UI', Tahoma, Geneva, Verdana,
                sans-serif;
              font-size: 48px;
            }
            &:hover,
            &.active {
              color: white;
              filter: grayscale(0);
            }
          }
        }
      }
      + .close-toc {
        z-index: 1000;
        bottom: 75vh;
        background-color: black;
        &::before {
          bottom: calc(75vh + 4px);
          z-index: 1001;
          width: 40px;
          height: 40px;
          background-image: url('/assets/images/info/server/server-toc-close-icon.png');
          background-repeat: no-repeat;
          background-position: center center;
          background-size: 100%;
          mask-image: none;
        }
      }
    }
    &::before {
      color: transparent;
      background-color: transparent;
      background-image: url(/assets/images/info/server/server-toc-icon.svg);
    }
    &::after {
      color: transparent;
      background-color: transparent;
    }
  }
  h2 {
    font-family: 'Mr Robot', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 34px;
    text-align: center;
    line-height: 1;
    color: #c80000;
    position: sticky;
    z-index: 3;
    top: 72px;
    margin: 0;
    padding: 20px 0;
    &::before,
    &::after {
      font-family: 'Consola', 'Courier New', Courier, monospace;
      font-size: 36px;
      font-weight: 400;
      color: #758086;
    }
    &::before {
      content: attr(data-section);
    }
    &::after {
      content: '.html';
    }
  }
  a:not(.vz-logo) {
    text-decoration: underline;
    background-color: transparent;
    &:hover {
      text-decoration: none;
      color: var(--color-primary);
      background-color: transparent;
    }
  }
  .back-to-top {
    display: none;
  }
  #footer {
    background-color: rgba(0, 0, 0, 0.75);
  }
}
