#tableOfContent {
  p {
    display: none;
  }
  ul {
    position: absolute;
    left: -100vw;
    bottom: 0;
    opacity: 0;
    background-color: var(--color-secondary);
    width: 100%;
    list-style: none;
    padding: var(--spacing-8) 0 calc(var(--spacing-10) * 2.5) 0;
    max-height: 50vh;
    overflow: auto;
    text-align: center;
    margin: var(--spacing-0) auto;
    transition: all .5s ease-in;
    li {
      a {
        display: block;
        padding: var(--spacing-2) var(--spacing-4);
        display: inline-block;
        height: 100%;
        width: calc(100% - var(--spacing-8));
      }
    }
  }
  position: fixed;
  z-index: 5;
  bottom: var(--spacing-0);
  left: var(--spacing-0);
  width: 100%;
  background-color: transparent;
  padding: var(--spacing-0) var(--spacing-0) calc(var(--spacing-1) * 19) var(--spacing-0);
  margin: var(--spacing-0);
  &::before {
    content: '';
    position: fixed;
    z-index: 1;
    bottom: var(--spacing-6);
    background-color: var(--color-primary);
    color: var(--color-secondary);
    width: calc(var(--spacing-10) + var(--spacing-2));
    height: calc(var(--spacing-10) + var(--spacing-2));
    left: var(--spacing-0);
    right: var(--spacing-0);
    margin: var(--spacing-0) auto;
    border-radius: 50%;
    width: calc(var(--spacing-10) + var(--spacing-2));
    height: calc(var(--spacing-10) + var(--spacing-2));
  }
  &::after {
    content: '';
    position: fixed;
    z-index: 2;
    bottom: var(--spacing-8);
    background-color: var(--color-secondary);
    background-color: black;
    color: var(--color-secondary);
    left: var(--spacing-0);
    right: var(--spacing-0);
    margin: var(--spacing-0) auto;
    border-radius: 50%;
    background-image: none;
    width: 30px;
    height: 30px;
    -webkit-mask-image: url(/assets/svg/plus-icon.svg);
    mask-image: url(/assets/svg/plus-icon.svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
  }
  &:hover {
    cursor: pointer;
    ul {
      left: var(--spacing-0);
      opacity: 1;
    }
    &::before {
      background-color: black;
    }
    &::after {
      background-color: var(--color-primary);
    }
  }
}