#tableOfContent {
  p {
    display: none;
  }
  ul {
    position: absolute;
    left: -100vw;
    bottom: 0;
    opacity: 0;
    background-color: var(--color-secondary);
    width: 100%;
    list-style: none;
    padding: var(--spacing-8) 0 calc(var(--spacing-10) * 2.5) 0;
    max-height: 50vh;
    overflow: auto;
    text-align: center;
    margin: var(--spacing-0) auto;
    transition: all .5s ease-in;
    li {
      a {
        display: block;
        padding: var(--spacing-2) var(--spacing-4);
        display: inline-block;
        height: 100%;
        width: calc(100% - var(--spacing-8));
      }
    }
  }
  position: fixed;
  bottom: var(--spacing-0);
  left: var(--spacing-0);
  width: 100vw;
  background-color: transparent;
  padding: var(--spacing-0) var(--spacing-0) calc(var(--spacing-1) * 19) var(--spacing-0);
  margin: var(--spacing-0);
  &::after {
    content: '';
    position: fixed;
    bottom: var(--spacing-6);
    background-color: var(--color-primary);
    background-image: url(/assets/svg/plus-icon.svg);
    background-position: center center;
    background-repeat: no-repeat;
    color: var(--color-secondary);
    width: calc(var(--spacing-10) + var(--spacing-2));
    height: calc(var(--spacing-10) + var(--spacing-2));
    left: var(--spacing-0);
    right: var(--spacing-0);
    margin: var(--spacing-0) auto;
    border-radius: 50%;
  }
  &:hover {
    cursor: pointer;
    ul {
      left: var(--spacing-0);
      opacity: 1;
    }
  }
}