---
layout: default
title: No one knows...
site_title: At the beginning...
primary_color: '#ffbc00'
secondary_color: rgb(128, 94, 0)
section_class: no-one-knows
permalink: /at-the-beginning/no-one-knows/
---
<header class="cover">
  <h1>
    <span>No </span>
    <span>one </span>
    <span>knows </span>
    <span class="elipsis">...</span>
  </h1>
</header>

{% include toc.html
  data=site.data.no-one-knows.toc %}
  
<section id="profile" class="teaser"> 
  <h2 class="title"><span>The</span> Server</h2>
  <p class="sprite balloon">My name is V&iacute;ctor Zamudio and...<br>
    <a href="/at-the-beginning/no-one-knows/the-server">See my profile</a>
  </p>
  <span class="decorative sprite elliot"></span>
  <span class="decorative sprite mr-robot"></span>
  <span class="decorative sprite face-mask"></span>
</section>

{% include back-to-top.html %}

<section id="laboral-experience" class="teaser">
  <h2 class="title"><span>The</span> Navigator</h2>
  <p class="sprite balloon">I am an old sea wolf...<br>
    <a href="/at-the-beginning/no-one-knows/the-navigator">See my adventures</a>
  </p>	
  <span class="decorative sprite">
    <span class="sprite nube1">&nbsp;</span>
    <span class="sprite nube2">&nbsp;</span>
    <span class="sprite ave1">&nbsp;</span>
    <span class="sprite ave2">&nbsp;</span>
    <span class="sprite perlaNegra">&nbsp;</span>
    <span class="sprite sparrow">&nbsp;</span>
  </span>
</section>

{% include back-to-top.html %}

<section id="skills" class="teaser">
  <h2 class="title"><span>The</span> Fixer</h2>
  <p class="sprite balloon">It bugs me that...<br>
    <a href="/at-the-beginning/no-one-knows/the-fixer">See my skills</a></p>
  <span class="decorative sprite">
    <span class="sprite hitman-a">&nbsp;</span>
    <span class="sprite hitman-b"><span class="sprite firegun">&nbsp;</span></span>
  </span>	
</section>

{% include back-to-top.html %}
