---
layout: default
title: No one knows...
site_title: At the beginning...
primary_color: '#ffbc00'
secondary_color: rgb(128, 94, 0)
section_class: no-one-knows
permalink: /at-the-beginning/no-one-knows/
---
<header class="cover">
  <h1>
    {{page.title}}
  </h1>
</header>

{% include toc.html
  data=site.data.no-one-knows.toc %}
  
<section id="profile" class="sprite teaser"> 
  <h2 class="sprite">The Server</h2>
  <p class="sprite">Hello Friend!<br/>My name is V&iacute;ctor Zamudio and I am your user interfaces server.<br>
    <a href="/at-the-beginning/no-one-knows/the-server">See my full profile</a>
  </p>
</section>

{% include back-to-top.html %}

<section id="laboral-experiences" class="sprite teaser">
  <h2 class="sprite">The Navigator</h2>
  <p class="sprite">I am an old sea wolf who has sailed the 7 seas.<br>
    <a href="/at-the-beginning/no-one-knows/the-navigator">See my adventures</a>
  </p>	
  <span class="decorative sprite">
    <span class="sprite nube1">&nbsp;</span>
    <span class="sprite nube2">&nbsp;</span>
    <span class="sprite ave1">&nbsp;</span>
    <span class="sprite ave2">&nbsp;</span>
    <span class="sprite perlaNegra">&nbsp;</span>
    <span class="sprite sparrow">&nbsp;</span>
  </span>
</section>

{% include back-to-top.html %}

<section id="skills" class="sprite teaser">
  <h2 class="sprite">The Fixer</h2>
  <p class="sprite">It bugs me that developers do not follow the standards.<br>
    <a href="/at-the-beginning/no-one-knows/the-fixer">See my skills</a></p>
  <span class="decorative sprite">
    <span class="hitmanA sprite">&nbsp;</span>
    <span class="hitmanB sprite"><span class="sprite firegun">&nbsp;</span></span>
  </span>	
</section>

{% include back-to-top.html %}
