---
layout: default
primary_color: '#ff0000'
secondary_color: '#5b0000'
title: The Fixer
previous_page: '/at-the-beginning/no-one-knows/the-navigator'
next_page: '/at-the-beginning/nobody-knows-he-worked-on/'
previous_title: 'The Navigator'
next_title: 'Nobody knows he worked on...'
permalink: /at-the-beginning/no-one-knows/the-fixer/
---
{% assign fixer=site.data.the-fixer %}
<header class="cover">
  <h1>
    {{page.title}}
  </h1>
</header>
{% include toc.html 
  data=site.data.the-fixer.toc
%}

{% include ammos.html 
  ammos=fixer.ammos 
  toc=fixer.toc
%}