---
layout: default
primary_color: '#7d0069'
secondary_color: '#280023'
title: The Navigator
previous_page: '/at-the-beginning/no-one-knows/the-server/'
next_page: '/at-the-beginning/no-one-knows/the-fixer/'
previous_title: 'The Server'
next_title: 'The Fixer'
permalink: /at-the-beginning/no-one-knows/the-navigator/
---
{% assign navigator=site.data.the-navigator%}
<header class="cover">
  <h1>
    {{page.title}}
  </h1>
</header>

{% include toc.html 
  data=navigator.toc  
%}

{% include adventures.html 
  adventures=navigator.adventures
  toc=navigator.toc
%}

