---
layout: default
primary_color: '#7cff00'
secondary_color: '#2B6000'
title: The Server
previous_page: '/at-the-beginning/no-one-knows/'
next_page: '/at-the-beginning/no-one-knows/the-navigator/'
previous_title: 'No one knows...'
next_title: 'The Navigator'
permalink: /at-the-beginning/no-one-knows/the-server/
---

<header class="cover">
  <h1>{{page.title}}</h1>
</header>

{% include toc.html data=site.data.the-server.toc %}

<section id="profile" class="vcard">
  <h2 data-section="1.1_">Hello Friend!</h2>
  <img
    class="photo sr-only"
    src="/assets/images/contact/victor-zamudio.jpg"
    width="88"
    height="112"
    alt="Víctor Zamudio profile"
  />
  <p data-sp="hello-friend">
    <span class="view bg-attached" data-id="hello-friend-first">
      <span data-sp="hello-friend-first">Hello friend,</span></span
    >&nbsp;
    <span class="view bg-attached" data-id="hello-friend-second">
      <span data-sp="hello-friend-second">hello friend?</span>
    </span>
  </p>

  <p>
    <span class="view bg-attached" data-id="game-first">
      <span data-sp="lets">Let's game,</span>&nbsp;
    </span>
    <span class="view bg-attached" data-id="game-second">
      <span data-sp="maybe">maybe I should</span>&nbsp;
    </span>
    <span class="view bg-attached" data-id="game-third">
      <span data-sp="give-you">give you my name.</span>&nbsp;
    </span>
  </p>

  <p>
    <span class="view bg-attached" data-id="my-name">
      <span data-sp="my-name-is">My name is</span>
      <span class="fn" data-sp="victor-zamudio">V&iacute;ctor Zamudio</span
      >&nbsp;
    </span>
    <span class="view bg-attached" data-id="im-uxe">
      <span data-sp="im-a">and I'm a</span>&nbsp;
      <span data-sp="uxe"
        >Senior <abbr title="User Experience">UX</abbr> Engineer</span
      >&nbsp;
    </span>
    <span class="view bg-attached" data-id="at-thomson-reuters">
      <span data-sp="at">at</span>&nbsp;
      <span class="org sp">
        <a
          data-sp="thomson-reuters"
          href="http://www.thomsonreuters.com"
          target="_blank"
          title="Visit the Website of Thomson Reuters"
          >Thomson Reuters</a
        ></span
      > </span
    >&nbsp;
    <span class="view bg-attached" data-id="at-thomson-reuters-since">
      <span data-sp="since">since</span>&nbsp;
      <span data-sp="september"
        >September <span data-sp="2022">2022</span>
        <span data-sp="remainig"
          >({{ site.time | date: '%Y' | minus: 2023 }} years)</span
        >
        <span class="hide">.</span></span
      >
    </span>
  </p>

  <p class="view" data-id="born-and-raised">
    <span data-sp="born">Born</span>&nbsp; <span data-sp="and">and</span>&nbsp;
    <span data-sp="raised">raised</span>&nbsp;
    <span data-sp="in">in</span>&nbsp;
    <span class="adr" data-sp="mexico"
      ><span class="country-name">Mexico,</span></span
    >&nbsp;<span data-sp="my">my</span>&nbsp;
    <span data-sp="beloved">beloved </span>
    <span data-sp="country">country.</span>
  </p>

  <p>
    <span class="view" data-id="around-the-web">
      <span data-sp="been">I've been</span>&nbsp;
      <span data-sp="around">around</span>&nbsp;
      <span data-sp="the">the</span>&nbsp;
      <span data-sp="web">web</span>
      <span data-sp="since">since</span>&nbsp;
      <span data-sp="june-2006">June 2006</span>&nbsp;
      <span data-sp="n-years"
        >({{ site.time | date: '%Y' | minus: 2006 }} years),</span
      >&nbsp;
    </span>
    <span class="view" data-id="working-with-brands">
      <span data-sp="and">and</span>&nbsp;
      <span data-sp="working">working</span>&nbsp;
      <span data-sp="with">with</span>&nbsp;
      <span data-sp="brands">brands</span>&nbsp;
      <span data-sp="like">like</span>
    </span>
    <span class="view" data-id="warner-media">
      <span data-sp="warner">Warner</span>
      <span data-sp="media">Media</span></span
    ><span class="sr-only">,</span>
    <span class="view" data-id="jnj">
      <abbr data-sp="j&j" title="Johnson and Johnson">J&J</abbr>
    </span>
    <span class="sr-only">,&nbsp;</span>
    <span class="view" data-id="google">
      <span data-sp="google">Google</span>
    </span>
    <span class="sr-only">,&nbsp;</span>
    <span class="view" data-id="ibm">
      <abbr data-sp="ibm" title="International Business Machines">IBM</abbr>
    </span>
    <span class="view" data-id="microsoft">
      <span class="sr-only">,&nbsp;</span><span data-sp="and">and</span>
      <span class="sr-only">,&nbsp;</span>
      <span data-sp="micro">Micro</span>
      <span data-sp="soft">soft</span>
      <span class="sr-only">,&nbsp;</span>
    </span>
    <span class="view" data-id="among-others">
      <span data-sp="among">among</span>&nbsp;
      <span data-sp="others">others</span>
      <span data-sp="last">the last</span>&nbsp;
      <span data-sp="n-years">{{ site.time | date: '%Y' | minus: 2012 }} </span>
      <span data-sp="years">years.</span></span
    >&nbsp;
  </p>

  <p>
    <span class="view" data-id="remember">
      <span data-sp="have-to">We have to</span>&nbsp;
      <span data-sp="remember">remember</span>&nbsp;
      <span data-sp="that">that...</span> </span
    >&nbsp;
    <span class="view" data-id="my-sheet">
      <span data-sp="this-is">...this is</span>&nbsp;
      <span data-sp="my">my </span>
      <a
        data-sp="sheet"
        href="/assets/documents/resume.pdf"
        target="_blank"
        title="Download my resume in PDF format."
        >sheet</a
      >
      <span class="sr-only" data-sp="dot">.</span>
    </span>
  </p>
</section>

{% include back-to-top.html %}

<section id="professional-interest">
  <h2 data-section="1.2_">Professional Interest</h2>
  <p data-id="mr-robot">
    I'm deeply interested in the changes being created by the Web 3.0 paradigm,
    with innovations that will redefine how we interact with the digital world.
    Especially in the semantic web and
    <abbr title="Artificial Inteligence">AI</abbr> applied to
    <abbr title="User Interfaces">UI</abbr>
  </p>
  <p data-id="elliot">
    I am a fervent follower of
    <a
      href="/at-the-beginning/no-one-knows/the-fixer#knowledge"
      title="See my knowledge on Web Standards"
      >Web Standards</a
    >,
    <a
      href="/at-the-beginning/no-one-knows/the-fixer#knowledge"
      title="See my knowledge on Semantic Web"
      >Semantic Web</a
    >, and
    <a
      href="/at-the-beginning/no-one-knows/the-fixer#knowledge"
      title="See my knowledge on Accessibility"
      >Accessibility</a
    >
    due to the countless advantages they offer.
  </p>
  <p data-id="mr-robot-and-elliot">
    I've always been passionate about the idea of merging the sensitive imagery
    of design and the logical reasoning of programming because it allows for the
    creation of highly functional and aesthetically pleasing objects.
  </p>
  <p>
    These are some of my most notable professional interests. I practice some of
    them on my day-to-day:
  </p>
  <ol>
    <li>Web 3.0</li>
    <li>Accessibility</li>
    <li>Semantic Web</li>
    <li>Atomic Design</li>
    <li>Code Conventions & Best Practices</li>
    <li>Mobile First</li>
    <li>Customer obsessed</li>
    <li>[other related]</li>
    <li>Web Performance</li>
    <li>Design Systems</li>
    <li>Web Components</li>
    <li>Augmented Reality</li>
    <li>Content Strategy</li>
  </ol>
  <p>And I practice and develop others in my free time:</p>
  <ol>
    <li>Micro Frontends</li>
    <li>Web Apps Development</li>
    <li><abbr title="Progressive Web Apps">PWA</abbr></li>
    <li><abbr title="Static Site Generation">SSG</abbr></li>
    <li><abbr title="Server Side Rendering">SSR</abbr></li>
    <li><abbr title="User Experience">UX</abbr></li>
    <li>Visual Storytelling</li>
    <li>Mobile Apps Development (Android and iOS)</li>
    <li>Motion Graphics</li>
    <li><abbr title="Search Engine Optimization">SEO</abbr></li>
    <li>Videogames Development</li>
    <li>Virtual Reality</li>
    <li>Social Media</li>
  </ol>
</section>

{% include back-to-top.html %}

<section id="academic-formation">
  <h2 data-section="1.3_">Academic Formation</h2>
  <p id="bachelor-degree">
    <span id="uam"
      >I performed my studies at the Metropolitan Autonomous University,</span
    >
    <span id="xochimilco-unit">Xochimilco unit,</span>
    <span id="graphic-communication-designer"
      >where I was certified with the bachelor degree of
      <strong>"Graphic Communication Designer", </strong></span
    >
    <span id="specialty-editorial-design"
      >with a specialty in <strong>Editorial Design</strong> in June
      <strong>2006</strong>.</span
    >
    <span class="grid decorative">
      <span class="photo decorative" aria-hidden="true"></span>
      <span class="baseline decorative" aria-hidden="true"></span>
      <span class="col-3" aria-hidden="true"></span>
      <span class="col-3" aria-hidden="true"></span>
      <span class="col-3" aria-hidden="true"></span>
    </span>
  </p>
  <p id="newsletter-college">
    <span id="newsletter-college-tagline" class="newsletter-college"
      >I was on the</span
    >
    <span id="newsletter-college-title" class="newsletter-college"
      >university's design newsletter</span
    >
    <span id="newsletter-college-endtag" class="newsletter-college"
      >during my last year of college,</span
    >
    <span id="newsletter-college-text" class="newsletter-college"
      >where I carried out activities that would lay the
      <strong>foundations</strong> for my knowledge in
      <strong>web design</strong> such as:</span
    >
    <span id="newsletter-college-list" class="newsletter-college">
      <span class="col-2">
        <span>grid system<span class="hide-visually">, </span></span>
        <span>prototypes<span class="hide-visually">, </span></span>
        <span>content page structure<span class="hide-visually">, </span></span>
        <span>UX<span class="hide-visually">, </span></span>
        <span>cover design<span class="hide-visually">, </span></span>
        <span>page index<span class="hide-visually">, </span></span>
      </span>
      <span class="col-2">
        <span>headers<span class="hide-visually">, </span></span>
        <span>footers<span class="hide-visually">, </span></span>
        <span>articles<span class="hide-visually">, </span></span>
        <span>editorial markup<span class="hide-visually">, and</span></span>
        <span>others.</span>
      </span>
    </span>
    <span class="grid decorative" aria-hidden="true">
      <span class="col-2" aria-hidden="true">
        <span class="photo photo-1 decorative" aria-hidden="true"></span>
      </span>
      <span class="col-2" aria-hidden="true">
        <span class="photo photo-2 decorative" aria-hidden="true"></span>
      </span>
    </span>
  </p>
  <p id="self-taught">
    <span class="text text-1">Later</span>
    <span class="text text-2">I had the opportunity to</span>
    <span class="text text-3">learn</span>
    <span class="text text-4">about the potential</span>
    <span class="text text-5">of the</span>
    <abbr class="text text-6" title="International Network">Internet</abbr>
    <span class="text text-7">and I continued my training</span>
    <span class="text text-8"
      >through <strong>self-taught</strong> dark arts</span
    >
    <span class="text text-9">and both</span>
    <span class="text text-10">virtual &</span>
    <span class="text text-11">face-to-face</span>
    <a href="#courses" title="See my all the courses I have been taken."
      >courses</a
    >.
    <span class="decorative barcode"></span>
  </p>
</section>

{% include back-to-top.html %} {% include courses.html
courses=site.data.the-server.courses %} {% include back-to-top.html %}
